MYSQL_HOST=192.168.1.101
MYSQL_PORT=3306
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=

JWT_SECRET=
JWT_EXPIRE_DAYS=7

KINOPOISK_API_KEY=
CORS_ORIGINS=http://localhost:8080,http://127.0.0.1:8080,http://192.168.1.101:8080,http://192.168.1.224:8080